:root {
  --bachground-color: #e2e1d6;
  --circle-color: rgb(165, 143, 112);
  --primary-font-color: #202020;
  --secondary-font-color: #3d3d3d;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e2e1d6;
}

.App {
  text-align: center;
}

.AppLayout {
  min-height: 100vh;
}

.WordContainer {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    var(--circle-color)
  );
  position: absolute;
  top: 50%;
  left: 40%;
  max-height: 50vh;
  max-width: 50vh;
  transform: translate(-50%, -50%);
}

.WordTitleText {
  font-size: 1.5rem;
  color: var(--secondary-font-color);
}

.WordText {
  color: var(--primary-font-color);
}

.DefTitleText {
  font-size: 1.5rem;
  color: var(--secondary-font-color);
  text-align: end;
}

.DefText {
  color: var(--primary-font-color);
  text-align: end;
  font-size: 1rem;
}

.my-link {
  color: var(--secondary-font-color);
  text-decoration: underline;
  cursor: pointer; /* Set the cursor property to pointer */
  /* Add more styles as needed */

  /* Additional styles for hover state */
  /* Add smooth transition for color change */
}

.my-link:hover {
  color: var(--bachground-color); /* Change color on hover */
  /* Add more styles for hover state */
}
